<nav>
  <ul>
    <li>
      <a [routerLink]="'/template-syntax'">Template Syntax</a>
    </li>
    <li>
      <a [routerLink]="'/lifecycle'">Lifecycle</a>
    </li>
    <li>
      <a [routerLink]="'/component-interaction'">Component Interaction</a>
    </li>
    <li>
      <a [routerLink]="'/directive'">Directive</a>
    </li>
    <li>
      <a [routerLink]="'/pipe'">Pipe</a>
    </li>
    <li>
      <a [routerLink]="'/service-injection'">Service Injection</a>
    </li>
  </ul>
</nav>

<!--<p class="root-value">{{rootService.value}}</p>-->
<!--<button (click)="changeRootValue()">修改 Root Value</button>-->

<router-outlet></router-outlet>
