<nav>
  <ul>
    <li>
      <a [routerLink]="'/template-syntax'">Template Syntax</a>
    </li>
    <li (mouseenter)="showLifecycleList=true" (mouseleave)="showLifecycleList=false">
      <a [routerLink]="'/lifecycle'">Lifecycle</a>
      <ul *ngIf="showLifecycleList">
        <li><a [routerLink]="'/lifecycle'">演示</a></li>
        <li><a [routerLink]="'/lifecycle/exercise'">练习</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="'/component-interaction'">Component Interaction</a>
    </li>
    <li>
      <a [routerLink]="'/directive'">Directive</a>
    </li>
    <li>
      <a [routerLink]="'/pipe'">Pipe</a>
    </li>
    <li>
      <a [routerLink]="'/service-injection'">Service Injection</a>
    </li>
  </ul>
</nav>

<!--<p class="root-value">{{rootService.value}}</p>-->
<!--<button (click)="changeRootValue()">修改 Root Value</button>-->

<router-outlet></router-outlet>
