<section>
  <h4>-- Lifecycle for <strong [style.color]="'blue'">Child</strong> --</h4>
  <div *ngFor="let log of hookLog">{{log}}</div>
</section>

<app-lifecycle-item-a [value]="valueA" [sharedValue]="sharedValue" *ngIf="hasItemA"></app-lifecycle-item-a>
<app-lifecycle-item-b [sharedValue]="sharedValue" *ngIf="hasItemB"></app-lifecycle-item-b>

<section>
  <button (click)="updateSharedValue()" *ngIf="hasItemA || hasItemB">更新sharedValue</button>
  <button (click)="updateValueA()" *ngIf="hasItemA">更新ValueA</button>
  <button (click)="removeItemA()">{{!hasItemA? '重建组件A':'删除组件A'}}</button>
  <button (click)="removeItemB()">{{!hasItemB? '重建组件B':'删除组件B'}}</button>
</section>
